<% include partials/header %>
	<% if(error.length > 0 || success.length >0){ %>
		<div class="container landing-flash">
			<%if(error && error.length > 0){ %>
				<div class="alert alert-danger" role="alert">
					<%=error%>
				</div>
			<% } %>
			<%if(success && success.length > 0){ %>
				<div class="alert alert-success" role="alert">
					<%=success%>
				</div>
			<% } %>
		</div>
	<% } %>
	<div class="mainJumbo">
		<div class="row">
			<div class="col-lg-8 jumboWelcome">
				<h1 class="main-jumbo-header display-2">Welcome to Rahal!</h1>
		    	<h1 class="display-5">All your travel needs and more</h1>
		    	<% if(!currentUser){ %>
		    	<p class="lead">Look no further, register below and let us take care of everything</p>
				
				<% } else{%>
				<p class="lead">You've come to the right place!</p>
				<% } %>
			</div>
			<div class="col-lg-4 weather-div">
				<p class="col-sm-12">Weather in <%= weather.name%></p>
				<p class="">
					<%=Math.round(weather.main.temp)%> degrees and <%= weather.weather[0].description %>!
				</p>
			</div>
		</div>
	</div>
	
	<div id="steps-div" class="sections">
		<div class="steps-contents">
			<div class="row">
				<span class=col-lg-1></span>
				<div class="col-lg-2">
					<img width="200px" class="img-fluid steps-img" src="/images/steps/step1.png">
				</div>
				<div class="col-lg-2">
					<img width="200px" class="img-fluid steps-img" src="/images/steps/step2.png">
				</div>
				<div class="col-lg-2">
					<img width="200px" class="img-fluid steps-img" src="/images/steps/step3.png">
				</div>
				<div class="col-lg-2">
					<img width="200px" class="img-fluid steps-img" src="/images/steps/step1.png">
				</div>
				<div class="col-lg-2">
					<img width="200px" class="img-fluid steps-img" src="/images/steps/step2.png">
				</div>
			</div>
		</div>
	</div>
	<div id="activities-div" class="sections">
		<div class="row">
			<h1 class="col-sm-12 landingH1">Activities</h1>
			<span class="col-md-1"></span>
			<span id="left-span" class="col-md-1 d-none d-lg-block"><button id="left-arrow" class="btn btn-success btn-block" onclick="plusSlides(-1)">&#10094;</button></span>
			<div class="col-lg-8 col-sm-12 outer">				
				<figure class="images">										
					<a href="/outdoor"><img class="shadow-img" id="Outdoor" src="/images/landing/Hiking.jpg"></a>		
					<div class="captions">Outdoor</div>			
				</figure>
				<figure class="images">					
					<a href="/indoor"><img class="shadow-img" id = "Indoor" src="/images/landing/indoor.jpg"></a>
					<div class="captions">Indoor</div>			
				</figure>
				<figure class="images">	
					<a href="/membership"><img class="shadow-img" id = "Member" src="/images/landing/member.png"></a>	
					<div class="captions">Join Us!</div>	
				</figure>			
			</div>
			<span id="right-span"class="col-md-1 d-none d-lg-block"><button id="right-arrow" class="btn btn-success btn-block" onclick="plusSlides(1)">&#10095;</button></span>
			<span class="col-md-1"></span>
		</div>
		<div class="row">
			<span class="col-sm-2"></span>
			<div class="col-sm-8" style="text-align: center;">
				<span class="dot" onclick="currentSlide(1)"></span>
				<span class="dot" onclick="currentSlide(2)"></span>
				<span class="dot" onclick="currentSlide(3)"></span>
			</div>
			<span class="col-sm-2"></span>
		</div>		
	</div>
	<div id="nearby-camps-div" class="sections">
		<h1 class="col-sm-12 landingH1">Nearby Camps</h1>
		<div class="row">
			<span class="col-md-1"></span>
			<div id="map" class="col-md-10"></div>
		</div>
	</div>
	<div id="shop-div" class="sections">
		<div class="row">
			<span class="col-lg-2"></span>
			<div class="col-sm-12 col-lg-8">
				<h1 class="landingH1">Shop</h1>
				<a href="/shop"><img class="img-fluid shadow-img" src="/images/landing/shop.jpg"></a>
			</div>
		</div>
	</div>
	<div id="news-div" class="sections">
		<div class="row">
			<span class="col-lg-2"></span>
			<div class="col-sm-12 col-lg-8">
				<h1 class="landingH1">Latest News</h1>
				<img class="img-fluid shadow-img" src="/images/landing/news.jpg">
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/scripts/landing.js"></script>
<% include partials/footer %>